


.board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    width: 65vh;
    height: 65vh;
    outline: 5px solid $myBlue;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.piece{
    
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.dark{
    background: $myBrown;
}

.bright{
    background: $myWhite;
    cursor: pointer;
    &:hover{
        outline: 5px solid white;
    }
}

%square{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.square-white{
    @extend %square;
    background: white;
}

.square-black{
    @extend %square;
    background: $myBlue;
}
.king{
    outline: 5px solid $myYellow;
}

@media only screen and (min-width: 430.01px) and (max-width: 820px) {
    .board{
        width: 250px;
        height: 250px;
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 430px) {
    .board{
        width: 95vw;
        height: 95vw;
        
    }
  }

